<div class="strip-secondary pt-5 pb-5">
  <div class="container justify-content-center">
    <div class="col-12">
      <h2 class="text-center text-white">About Experiment Zone</h2>
      <h3 class="text-center text-white font-weight-normal">
        We’re an Austin-based CRO agency. Our team of conversion experts
        includes: strategists, data analysts, developers, designers, UX
        researchers, and project managers. We supports a variety of research methods, including: 

      </h3>

      <br>

      <ul class="text-white pl-12">
        <li>Expert reviews including Cognitive Walkthroughs and Heuristic Evaluations</li>
        <li>Moderated usability testing</li>
        <li>Unmoderated usability testing</li>
        <li>Customer interviews</li>
        <li>Card Sorting and Tree testing</li>
        <li>Surveys - including Intercept and Email based surveys</li>
        <li>Research Roadmap creation and prioritization</li>
        <li>Research Strategy</li>
        <li>Click tracking analysis</li>
      </ul>
      
      

      <div class="col-12 text-center">
        <a
          class="button mt-2 text-center"
          href="/about/"
          rel="noopener noreferrer"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</div>
