<div class="strip-secondary pt-5 pb-5">
  <div class="container justify-content-center">
    <div class="col-12">
      <h2 class="text-center text-white">About Experiment Zone</h2>
      <h3 class="text-center text-white font-weight-normal">
        We’re an Austin-based CRO agency. Our team of conversion experts
        includes: strategists, data analysts, developers, designers, UX
        researchers, and project managers.
      </h3>
      <div class="col-12 text-center">
        <a
          class="button mt-2 text-center"
          href="/about/"
          rel="noopener noreferrer"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</div>
