<div class="strip strip-white pt-3 pb-6 splash splash-one">
    <div class="container">
        <div class="row mt-2">
            <div class="col-12">
                <h2 class="text-secondary">We're Tool Agnostic</h2>
                <h3>Our team has experience working with conversion technologies and commerce platforms including:</h3>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
                <img src="/assets/images/tools/Shopify_logo.png" loading="lazy" alt="Shopify logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/BigCommerce-logo-dark.png" loading="lazy" alt="BigCommerce logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/woocommerce.png" loading="lazy" alt="WooCommerce logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/hubspot-logo.png" loading="lazy" alt="HubSpot logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
                <img src="/assets/images/tools/VWO-Logo-Color.png" loading="lazy" alt="VWO logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/logo-convert-white.png" loading="lazy" alt="Convert logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/optimizely_logo.png" loading="lazy" alt="Optimizely logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/abtasty-logo.png" loading="lazy" alt="AB Tasty logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
                <img src="/assets/images/tools/Google_optimize.png" loading="lazy" alt="Google Optimize logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/Qubit-logo.png" loading="lazy" alt="Qubit logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/pagesense.png" loading="lazy" alt="Zoho PageSense logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/oracle_mazymiser.png" loading="lazy" alt="Oracle/Maxymiser logo" class="testing_tools" style="margin: 0.5rem;" width="150px">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
                <img src="/assets/images/tools/Google_Analytics.png" loading="lazy" alt="Google Analytics logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/hotjar.png" loading="lazy" alt="Hotjar logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/Click-Funnels-Logo.png" loading="lazy" alt="ClickFunnels logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/crazyegg-logo.png" loading="lazy" alt="CrazyEgg logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-between flex-wrap align-items-center">
                <img src="/assets/images/tools/UserTesting-Logo.png" loading="lazy" alt="UserTesting logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/lookback_logo.png" loading="lazy" alt="Lookback logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
                <img src="/assets/images/tools/UserZoom.png" loading="lazy" alt="UserZoom logo" class="tools_logo" style="margin: 0.5rem;"  width="150px">
                <img src="/assets/images/tools/Optimal-Workshop-logo.png" loading="lazy" alt="Optimal Workshop logo" class="tools_logo" style="margin: 0.5rem;" width="150px">
<!--                 <img src="/assets/images/tools/UsabilityHub - Logo.png" loading="lazy" alt="UsabilityHub logo" class="tools_logo" style="margin: 0.5rem;" width="150px"> -->
            </div>
        </div>
    </div>
</div>

<style>
    @media only screen and (max-width: 500px) {
        #wrapper > div:nth-child(6) > div > div:nth-child(6) {
            margin-top: 40px;
        }
    }

</style>