<div class="strip strip-grey pt-5 pb-5">
    <div class="container pb-4">
        <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-secondary">Our Happy Customers</h2>
        </div>
        </div>

        <div class="row mt-3">
        <div class="col-12 d-flex justify-content-between align-items-center flex-wrap client_logos">
            <img src="/assets/images/client_logos/nable.png" width="150px" style="margin: 0.5rem;" alt="N-Able logo" class="logo">
            <img src="/assets/images/client_logos/drbs_logo.png" width="150px" style="margin: 0.5rem;" alt="Doctor Butler's logo" class="logo">
            <img src="/assets/images/client_logos/elix-logo.png" width="150px" style="margin: 0.5rem;" alt="Elix Healing logo" class="logo">
            <img src="/assets/images/client_logos/thcoc_logo.png" width="150px" style="margin: 0.5rem;" alt="Texas Hill Country Olive Co logo" class="logo">
            <img src="/assets/images/client_logos/chime-logo.png" width="150px" style="margin: 0.5rem;" alt="Chime logo" class="logo">
            <img src="/assets/images/client_logos/pinnacle_promotions_logo.png" width="150px" style="margin: 0.5rem;" alt="Pinnacle Promotions logo" class="logo">
            <img src="/assets/images/client_logos/ASAPSS-logo.png"  width="150px" style="margin: 0.5rem;" alt="ASAP Site Services logo" class="logo">
            <img src="/assets/images/client_logos/arium_living.png"  width="150px" style="margin: 0.5rem;" alt="Arium Living logo" class="logo">
            <img src="/assets/images/client_logos/thriftyTraveler.png"  width="150px" style="margin: 0.5rem;" alt="Thrifty Traveler logo" class="logo">
            <img src="/assets/images/client_logos/Meemzy_Magic_Logo.png"  width="150px" style="margin: 0.5rem;" alt="Meemzy Magic logo" class="logo">
            <img src="/assets/images/client_logos/Techless.png"  width="150px" style="margin: 0.5rem;" alt="Techless logo" class="logo">
            <img src="/assets/images/client_logos/sonos_logo.png" loading="lazy" alt="Sonos, Inc. logo" class="logo" style="margin: 0.5rem;"  width="150px">
        </div>
        </div>
    </div>
    <div class="col-12 text-center pt-2">
      <h2 class="text-secondary">Want to see more?</h2>
      <br>
      <a class="button" href="/work" style="text-decoration: none">See Case Studies</a>
    </div>
</div>