<div class="strip strip-light-purple">
  <div class="container pt-6 pb-6">
    <div class="row justify-content-between align-items-center">
      <div class="col-12 col-lg-5 mt-lg-n10">
        <h1 class="mb-4 font-weight-normal">Ready to get started?</h1>
        <h3 class="mb-2">
          Fill out the form with your contact information and any details you'd
          like to provide about your current challenges.
        </h3>
        <h3 class="text-secondary mb-4">
          We'll be in touch to set up a time to discuss your goals and
          challenges.
        </h3>
      </div>
      <div class="col-12 col-lg-6">{% include contact-us-form.html %}</div>
    </div>
  </div>
</div>
