<div class="footer-second">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-second-menu font-weight-normal">
          <div class="row">
            {% if site.params.footer.show_menu_footer_primary %}
            <div class="col-12 col-md-3">
              <h3>Experiment Zone</h3>
              {% include menu-footer-primary.html %}
            </div>
            {% endif %} {% assign services = site.services | sort: 'date' %} {%
            if services.size > 0 and site.params.footer.show_services_links %}
            <div class="col-12 col-md-3">
              <h3>Services</h3>
              <ul>
                {% for service in services limit:4 %}
                <li><a href="{{ service.url }}">{{ service.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %} {% assign giveaways = site.giveaways | sort: 'date' %}
            {% if giveaways.size > 0 and site.params.footer.show_work_links %}
            <div class="col-12 col-md-3">
              <h3>Giveaways</h3>
              <ul>
                {% for giveaway in giveaways limit:4 %}
                <li><a href="{{ giveaway.url }}">{{ giveaway.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
            {% endif %} {% if site.params.footer.show_menu_footer_secondary %}
            <div class="col-12 col-md-3">
              <h3>Support</h3>
              {% include menu-footer-secondary.html %}
            </div>
            {% endif %}
          </div>
          <div class="row bottom-info">
            <div class="col-12 col-md-12">
                <p class="contact">701 Brazos Street, Suite 1616 Austin, Texas 78701</p>
                <p class="copyright">&copy; Copyright 2021 <a href="/">Experiment Zone</a>. All Rights are reserved.</p>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ProfessionalService",
  "name": "Experiment Zone",
  "image": "https://experimentzone.com/assets/images/EZ-logo-footer.png",
  "@id": "https://experimentzone.com/",
  "url": "https://experimentzone.com/",
  "telephone": "",
  "priceRange": "$$-$$$$$$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "701 Brazos Street, Suite 1616",
    "addressLocality": "Austin",
    "addressRegion": "TX",
    "postalCode": "78701",
    "addressCountry": "US"
  },
  "openingHoursSpecification": {
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": [
      "Monday",
      "Tuesday",
      "Wednesday",
      "Thursday",
      "Friday",
      "Saturday",
      "Sunday"
    ],
    "opens": "00:00",
    "closes": "23:59"
  },
  "sameAs": [
    "https://www.facebook.com/ExperimentZoneCo/",
    "https://twitter.com/experimentzone_",
    "https://www.instagram.com/experimentzone/"
  ] 
}
</script>
