<div class="strip-secondary pt-5 pb-5">
    <div class="container justify-content-center">
      <div class="col-12">
        <h2 class="text-center text-white">
          Improve your conversion rate for free. Get our conversion report card.
        </h2>
        <div class="col-12 text-center">
          <a
          class="button mt-2 text-center"
          href="https://experimentzone.com/giveaways/report_card/"
          >Get your free report card</a>
        </div>
      </div>
    </div>
  </div>  