<style>
  .hl-heading {
    font-size: 60px;
    line-height: 1;
  }

  @media screen and (max-width: 576px) {
    .hl-heading {
      font-size: 50px;
    }
  }
</style>

<div class="strip pt-10 pb-10">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-5">
        <h3 class="mb-2">Hypothesis Scoring</h3>
        <h2 class="h2-heading mb-2 text-secondary">
          There's a better way to manage your ideas
        </h2>
        <p>
          The ICE Scoring Model spreadsheet is a FREE tool to help you centralize great ideas and maintain executive oversight across your A/B testing program.
        </p>
        <ul class="pl-5 mb-4">
          <li>Built with Google Sheets for ultimate collaboration</li>
          <li>Easy to understand and manage</li>
          <li>Based on a proven hypothesis scoring model</li>
        </ul>
        <div class="row">
          <div class="col-12 text-lg-left mb-8 mb-lg-0">
            <a class="button mt-1" href="https://experimentzone.com/contact/">
              DOWNLOAD IT FOR FREE
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="work-image">
          <a href="https://experimentzone.com/contact/"
            ><img
              class="img-fluid"
              alt="Hypothesis Library tool"
              src="../assets/images/ICE-Scoring-Model-Image.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
