<style>
  .hl-heading {
    font-size: 60px;
    line-height: 1;
  }

  @media screen and (max-width: 576px) {
    .hl-heading {
      font-size: 50px;
    }
  }
</style>

<div class="strip pt-10 pb-10">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-5">
        <h3 class="mb-2">Hypothesis Library</h3>
        <h2 class="hl-heading mb-2">
          There's a better way to manage your ideas
        </h2>
        <p>
          The Hypothesis Library by Experiment Zone is FREE tool to help you
          centralize ideas and maintain executive oversight across a
          full-fledged experimentation program.
        </p>
        <div class="row">
          <div class="col-12 text-lg-left mb-8 mb-lg-0">
            <a class="button mt-1" href="https://www.hypothesislibrary.com/">
              GET IT FOR FREE
            </a>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="work-image">
          <a href="https://www.hypothesislibrary.com/"
            ><img
              class="img-fluid"
              alt="Hypothesis Library tool"
              src="../assets/images/HL_snapshots.png"
          /></a>
        </div>
      </div>
    </div>
  </div>
</div>
