<!-- Clutch Badges and Other Awards -->

<div class="strip strip-white pt-5 pb-5 text-center badges_div">
    <h2 class="pb-2"><strong>Recent Awards</strong></h2>
    <div class="row align-items-center justify-content-around">
      <img class="top_cro" height="15%" width="15%" src="/assets/images/badges/top_clutch.co_conversion_optimization_company_united_states_2024.png" alt="Clutch Austin 2023 Top Conversion Optimization Company Award">
      <img class="top_cro_company" height="15%" width="15%" src="/assets/images/badges/top_clutch.co_conversion_optimization_company_2023_award.png" alt="Clutch 2023 Top Conversion Optimization Company Award">
      <img class="ecomm_research" height="15%" width="15%" src="/assets/images/badges/top_clutch.co_market_research_company_ecommerce_2024.png" alt="Clutch Ecommerce 2023 Top Market Research Company Award">
    </div>
  </div>

  <style>
    .badges_div {
      padding-left: 15px;
      padding-right: 15px;
    }

    .top_cro {
      margin-left: 10rem;
    }

    .ecomm_research {
      margin-right: 10rem;
    }

    @media only screen and (max-width: 500px) {
      .badges_div {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
      }

      .top_cro_company, .top_cro, .ecomm_research {
        width: 75% !important;
        height: auto !important;
        margin: 1rem;
      }
    }
  </style>