<!-- New testimonial start -->
<div class="strip strip-light-purple pb-5 pt-5 clutch-reviews">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="text-center mb-3">Testimonials</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <script
            type="text/javascript"
            src="https://widget.clutch.co/static/js/widget.js"
          ></script>
          <div
            class="clutch-widget"
            data-url="https://widget.clutch.co"
            data-widget-type="12"
            data-height="375"
            data-clutchcompany-id="1495686"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <!-- New testimonial end-->
  