.page-home {
  .splash {
    h2 {
      font-size: 1.6rem;
      line-height: 1.2;
      margin-bottom: 30px;
      margin-top: 20px;
      @include media-breakpoint-up(md) {
        margin-top: 0;
      }
    }
    h3 {
      a {
        color: $secondary;
        text-transform: uppercase;
      }
    }
    p {
      color: #000;
      font-size: initial;
      line-height: initial;
    }
    .work-image {
      flex: 0 0 auto;
      display: flex;
      text-align: center;
      background-color: $light-purple;
      border-radius: 50%;
      padding: 20px;
    }
  }
  .step-splash {
    .green-line {
      width: 100%;
      border: solid 2px $primary;
      width: 75%;
      position: relative;
      bottom: -96px;
      margin: auto;
      display: none;
      @include media-breakpoint-up(md) {
        display: block;
      }
    }
    .number-image {
      background-color: #eee8f6;
      border-radius: 50%;
      padding: 20px;
      width: 150px;
      height: 150px;
      margin: auto;
    }
    .number {
      font-size: 4rem;
      color: $secondary;
    }
  }
}
