---
title: "Cognitive Walkthrough"
meta_title: Cognitive Walkthrough | A task-oriented approach to learn if your visitors can easily navigate the journey on your website | Experiment Zone
heroHeading: "Customer Discovery"
heroSubHeading: "A task-oriented approach to learn if your visitors can easily navigate the journey on your website"
heroSubSubHeading: "Schedule your free consult call "
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 500
heroDiagonal: true
heroDiagonalFill: "#fff"
date: 2018-11-04T15:15:26+10:00
description: "A task-oriented approach to learn if your visitors can easily navigate the journey on your website."
icon: "assets/images/icons8-graph-report-96.png"
featured: true
weight: 3
service-list: false
service-sign-up: true
summary-content: "Best practices for running a successful Cognitive Walkthrough on your website"
free-consult: true
header_classes: header-transparent
cta-button: Get Started
cta-button-href: "#sign-up-form"
---

<style>
  @media (min-width: 768px) {
    .hero-image .hero-text h1 {
      width: 100%;
    }
    .hero-image .hero-text p {
      font-size: 1.6rem;
      width: 100%;
    }
  }
</style>

{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
subsubheading=page.heroSubSubHeading cta-button=page.cta-button
cta-button-href=page.cta-button-href overlay=page.heroBackgroundOverlay
diagonal=page.heroDiagonal diagonalfill=page.heroDiagonalFill %}

<div class="strip pb-5 pt-5 pt-lg-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 align-self-center pr-5">
        <div class="content">
          <h2 class="text-secondary">What is a cognitive walkthrough?</h2>
          <p>
            A cognitive walkthrough is a research method that can identify issues with the usability of a given product or system. At Experiment Zone, we use cognitive walkthroughs as an essential part of our <b>Site Experience Audit service</b>.
          </p>
          <br>
          <h4 class="text-secondary">Our team of researchers are given a set of tasks to navigate a user journey while embodying two or more of your user personas. </h4>
          <ul>
            <li>As we go through each task, we observe where we encounter friction points and how intuitive it is to complete the task.</li>
            <li>We compile the findings into a thorough report with observations and actionable recommendations to help support your website redesign.</li>
            <li>This method is a quicker, more cost-effective way to generate results when compared to other methods such as usability testing.</li>
          </ul>
          <br>
          <a href="https://experimentzone.com/services/site-experience-audit/">Want to learn more about our Site Experience Audit service?</a>
        </div>
      </div>
      <div id="sign-up-form" class="col-12 col-lg-6 pt-3 pl-5 pt-lg-0">
        <h2 class="text-secondary text-center mb-2">
          Schedule your FREE discovery call
        </h2>
        {% include contact-us-form.html %}
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">
          <h2 class="text-secondary">What are the benefits of conducting a Cognitive Walkthrough?</h2>
          
          <div class="item">
            <h4 class="text-primary">Time-saving</h4>
            <p>
              A cognitive walkthrough is a  time-efficient research method to evaluate the usability of an interface or a product. One or a group of evaluators go through a set of tasks to assess the effectiveness and ease of use of an established user journey from the perspective of one or several customer personas. This is a less time-consuming approach to uncovering friction points when compared to a full usability study and can generate similar results. This method is particularly useful when presented with time and budget constraints. 

            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">
              Budget-friendly 
            </h4>
            <p>
              Hiring a small team of UX researchers to generate insights as opposed to running a full scale usability study or user interviews can be a more cost-effective approach when looking to uncover potential issues within a user flow. While this may not fully replace the diversity of insights gathered from usability testing, it can be used to surface some of the major issues within a system.

            </p>
            
          </div>
          <div class="item">
            <h4 class="text-primary">Generates actionable insights for the least amount of time and budget spent</h4>
            <p>
              Given that a cognitive walkthrough is a more time-saving and budget-friendly method to discovering friction points and issues within a system, it can be used to generate insights that can inform a roadmap for improving the UX with the least amount of time and budget compared to other UX research methods. 
            </p>
            
          </div>
          <div class="item">
            <h4 class="text-primary">
              Can be repeated at all stages of product development
            </h4>
            <p>
              A cognitive walkthrough can be set up as part of a larger site experience audit, as a one-time project to quickly uncover potential issues or it can also become an essential part of the different stages of product development. Cognitive walkthroughs can be conducted on prototypes just as well as they can be run on a finished product. 

            </p>          
          </div>
          <div class="item">
            <h4 class="text-primary">
              Can leverage insights from your team as needed 
            </h4>
            <p>
              A cognitive walkthrough can be used informally by inviting members of your internal team to provide insights when they are presented with a set of tasks that walks them through a user journey. The key for this exercise to be successful is to have well-defined tasks that are easy to follow and the ability to gather those insights and turn them into actionable fixes. 


            </p>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="strip strip-white pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <h4><a class ="button" href="https://experimentzone.com/services/site-experience-audit/">Want to learn more about our Site Experience Audit service?</a></h4>
          

        
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">
          <h2 class="text-secondary">Best practices for running a successful Cognitive Walkthrough on your website</h2>
          
          <div class="item">
            <h4 class="text-primary">Step 1 | Define the customer personas and their journeys on the site</h4>
            <p>
              Having a clear understanding of the customer personas that are most relevant to the user flow that will be evaluated during the cognitive walkthrough is an essential first step in running a successful cognitive walkthrough. These personas will inform the journey they will take and will help evaluators identify with the needs and behaviors that these personas would have on your website. Your research partners can help you identify the right customer personas to use for the cognitive walkthrough or your team can provide a set of personas based on the user flows you’d like to have evaluated. 

            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">
              Step 2 | Crate a clear map of the user journey / steps to be taken for the cognitive walkthrough & identify the happy path 
            </h4>
            <p>
              In order to get the most impactful insights from the cognitive walkthrough, it’s important to define a clear set of steps that the evaluators will take. These will be presented as tasks and will be used to create the user journey that guides evaluators in the cognitive walkthrough. Identifying the “happy path” for each task—  the path that your visitors take to achieve the desired result without encountering any errors — is essential to use as a benchmark against the results of the cognitive walkthrough. This can help you better understand how close or far your product is from its ideal version. Work with your UX research team to define these user flows and tasks before the start of the cognitive walkthrough. 

            </p>
            
          </div>
          <div class="item">
            <h4 class="text-primary">Step 3 | Assign the research team to conduct the walkthrough through the perspective of the customer personas </h4>
            <p>
              Once the goals, the personas and the user journeys are defined, the project is ready to begin. The team of evaluators will now walk through the tasks defined in the previous steps, using the perspective of the customer personas to uncover friction points they experience when navigating your website. 
            </p>
            
          </div>
          <div class="item">
            <h4 class="text-primary">
              Step 4 | Gather the insights 
            </h4>
            <p>
              The measure for the impact of the cognitive walkthrough is the capacity for generating useful, actionable insights that can be used to improve the UX of your website. An experienced team of UX researchers can provide not only observations related to friction points and errors they encounter during the walkthrough, but also formulate recommendations for immediate fixes or longer-term improvements that take into consideration all of your business constraints. 

            </p>          
          </div>
          <div class="item">
            <h4 class="text-primary">
              Step 5 | Create an action-driven deliverable that provides a roadmap for fixes and A/B testing recommendations to improve the website experience 
            </h4>
            <p>
              These insights from the cognitive walkthrough can be gathered in a deliverable (slide deck, spreadsheet etc) that not only presents the issues observed and their recommended fixes, but also prioritizes and defines the next steps in order to give you a clear roadmap for improving the UX of your website. The quality of this deliverable and its ability to generate a clear and useful roadmap is what makes the difference between a somewhat useful cognitive walkthrough exercise and a truly successful project that will have real impact on your business goals. 


            </p>          
          </div>
        </div>

        <div class="col-12 text-center pt-2">
          <a class="button" href="#sign-up-form" style="text-decoration: none"
            >Get Started</a>
        </div>

      </div>
    </div>
  </div>
</div>



{% include why-experiment-zone-splash-white.html %} {% include
footer-diagonal-white.html %} {% include form-sign-up-button-in-footer.html
button_url=page.cta-button-href button_text=page.cta-button %}
