---
title: "Customer Discovery"
meta_title: Customer Discovery | Identify your customers and uncover their pain points and needs | Experiment Zone
heroHeading: "Customer Discovery"
heroSubHeading: "Identify your customers and uncover their pain points and needs."
heroSubSubHeading: "Learn what your prospective customers need, what they do, and what they value so you can build products and services that they will use."
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 500
heroDiagonal: true
heroDiagonalFill: "#fff"
date: 2018-11-04T15:15:26+10:00
description: "Identify your customers and uncover their pain points and needs."
icon: "assets/images/icons8-graph-report-96.png"
featured: true
weight: 3
service-list: false
service-sign-up: true
summary-content: "Learn what your prospective customers need, what they do, and what they value so you can build products and services that they will use."
free-consult: true
header_classes: header-transparent
cta-button: Get Started
cta-button-href: "#sign-up-form"
---

<style>
  @media (min-width: 768px) {
    .hero-image .hero-text h1 {
      width: 100%;
    }
    .hero-image .hero-text p {
      font-size: 1.6rem;
      width: 100%;
    }
  }
</style>

{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
subsubheading=page.heroSubSubHeading cta-button=page.cta-button
cta-button-href=page.cta-button-href overlay=page.heroBackgroundOverlay
diagonal=page.heroDiagonal diagonalfill=page.heroDiagonalFill %}

<div class="strip pb-5 pt-5 pt-lg-0">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 align-self-center">
        <div class="content">
          <h2 class="text-secondary">How we’ll help you discover your customers</h2>
          <p>
            <b>Identify and understand your prospective customer</b> through <b>interviews</b>
            and <b>surveys</b> conducted by our experienced team of UX Research experts.
            We’ll provide a <b>thorough and detailed report</b> of the findings
            including <b>persona development</b> and <b>customer journey mapping</b>,
            and we’ll provide <b>conversion strategy</b> backed recommendations
            and experience improvements.
          </p>
          <br>
          <h3 class="text-secondary">We will utilize three research methods
            to learn about your customers:</h3>
          <ul>
            <li>Interviews - To understand what your target customers do and value, so you can understand why they may make a purchasing decision</li>
            <li>Surveys - To understand the prevalence of problems and goals among your target audience at scale and in the context as they use your product or website</li>
            <li>Conversion strategy - To prioritize potential A/B tests based on the new understanding of your target customer</li>
          </ul>
        </div>
      </div>
      <div id="sign-up-form" class="col-12 col-lg-6 pt-3 pt-lg-0">
        <h2 class="text-secondary text-center mb-2">
          Schedule your FREE discovery call
        </h2>
        {% include contact-us-form.html %}
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">
          <h2 class="text-secondary">Our Simple and Seamless Process</h2>
          <p>
            In 6-8 weeks, we’ll provide a deep analysis of your target customer,
            so you can uncover their needs, pain points, and experiences.
          </p>

          <div style="text-align:center">
            <img src="../../assets/images/services/Customer-Discovery.png" alt="Experiment Zone Customer Discovery">
          </div>

          <div class="item">
            <h4 class="text-primary">Step 1 | Kickoff (Week 1)</h4>
            <p>
              In this 60 min call, we'll make sure we understand your goals with this
              Customer Discovery program. We'll discuss what you know about your current
              and target customers, and what new markets you are exploring. We'll
              also discuss expectations & set up our collaboration with your other partners.
            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">
              Step 2 | Research Plan (Week 2)
            </h4>
            <p>
              During this step, we'll define the UX Research plan for
              the survey and interviews. This step includes:
            </p>
            <ul>
              <li>Defining the recruitment strategy and screening questions</li>
              <li>Identifying the key questions for the interviews and survey</li>
            </ul>

          </div>
          <div class="item">
            <h4 class="text-primary">Step 3 | Conducting Survey and Interview Research (Week 3-6)</h4>
            <p>
              During this step, our research team will conduct the recruitment,
              reach out to respondents, and collect survey responses.
            </p>
            <p>
              In parallel, we will also conduct qualitative interviews with prospective customers.
              We’ll conduct the recruitment, schedule the participants, and run the interviews.
            </p>
            <p>As we gather insights, we’ll begin our full analysis of the data from the survey and
              interviews. Once we understand the biggest problems and opportunities in the experience,
              our <b>Conversion Strategist</b> will prioritize identifying specific solutions your team can do
              to reach your target audience and deliver solutions that address their needs.
            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">
              Step 4 | Results Readout + Strategy Call
            </h4>
            <p>
              During this 2-hour call, we will review the Customer Discovery Executive Summary. This
              report includes a detailed user persona and corresponding customer journey map. You'll
              get the data we gather, insights, and recommended actions to understand your new target
              customer and key A/B testing opportunities to improve conversion rates.
            </p>
          </div>
        </div>
        <div class="col-12 text-center pt-2">
          <a class="button" href="#sign-up-form" style="text-decoration: none"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

{% include why-experiment-zone-splash-white.html %} {% include
footer-diagonal-white.html %} {% include form-sign-up-button-in-footer.html
button_url=page.cta-button-href button_text=page.cta-button %}
