---
title: "Site Experience Audit"
meta_title: Site Experience Audit | Get detailed expert review of your website | Experiment Zone
heroHeading: "Site Experience Audit"
heroSubHeading: "Get a fresh perspective from our team of conversion experts."
heroSubSubHeading: "Identify opportunities to improve conversion and the overall experience on your website."
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 620
heroDiagonal: true
heroDiagonalFill: "#fff"
date: 2018-11-04T15:15:26+10:00
description: "Identify the top changes that will improve conversion on your website."
icon: "assets/images/icons8-mouse-96.png"
core: true
featured: false
weight: 3
service-list: false
service-sign-up: true
summary-content: "Fast track your conversion improvements with an expert review of your end-to-end customer journey. We'll provide thorough and detailed analysis of the experience and prioritized recommendations for how to improve the experience and drive conversion."
free-consult: true
header_classes: header-transparent
cta-button: Schedule your FREE consult call
cta-button-href: "#sign-up-form"
---

<style>
  .hero-image .hero-text h1 {
    width: 100%;
  }
  .hero-image .hero-text p {
    width: 100%;
  }
</style>

{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
subsubheading=page.heroSubSubHeading cta-button=page.cta-button
cta-button-href=page.cta-button-href overlay=page.heroBackgroundOverlay
diagonal=page.heroDiagonal diagonalfill=page.heroDiagonalFill %}

<div class="strip pb-5 pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 align-self-center">
        <div class="content">
          <h2 class="text-secondary">
            How we'll improve your customer experience
          </h2>
          <p>
            <b>Fast track</b> your conversion improvements with an
            <b>expert review</b> of your end-to-end customer journey. We'll
            provide <b>thorough and detailed analysis</b> of the experience and
            <b>prioritized recommendations</b> for how to improve the experience
            and drive conversion.
          </p>
          <p>
            We will employ two research methods for the site experience audit:
          </p>
          <ul>
            <li>Cognitive Walkthrough - To find the most pressing issues</li>
            <li>
              Heuristic Analysis - To evaluate your site against detailed best
              practices
            </li>
          </ul>
        </div>
      </div>
      <div id="sign-up-form" class="col-12 col-lg-6 pt-3 pt-lg-0">
        <h2 class="text-secondary text-center mb-2">
          Schedule your FREE consult call
        </h2>
        {% include contact-us-form.html %}
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">
          <h2 class="text-secondary">Our Simple and Seamless Process</h2>
          <p>
            In less than 4 weeks, we'll provide an expert review of your
            end-to-end customer journey.
          </p>

          <div style="text-align:center">
            <img src="../../assets/images/services/Site-Experience-Audit.png" alt="Experiment Zone Site Experience Audit">
          </div>

          <div class="item">
            <h4 class="text-primary">Part 1 | Heuristic Analysis</h4>
            <p>
              We will review key pages across the browsing and purchasing funnel
              against a UX checklist.
            </p>
            <p>Examples of some of the heuristics used include:</p>
            <ul>
              <li>Users are able to undo and redo their actions</li>
              <li>
                Users have consistency between words, behaviors, or actions
              </li>
              <li>Users can leave unwanted states ('undo')</li>
              <li>Calls to Action are action-oriented</li>
              <li>Search always returns results</li>
            </ul>
            <p>
              The full list of heuristics used in our analysis will be presented
              alongside the results in the checklist.
            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">Part 2 | Cognitive Walkthrough</h4>
            <p>Identify the top issues in the way of conversion.</p>
            <p>
              We'll identify the core customer personas and their journey
              through your website. You’ll uncover the top pain points across
              the journey - and our recommendations for how to resolve them in
              the short and long term.
            </p>
            <p>
              As we gather insights, we will prioritize these based on the level
              of effort and expected impact.
            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">Deliverables</h4>
            <p>Research plan & meeting</p>
            <p>
              Executive summary of opportunities & conversion fixes<br />
              Detailed UX Audit Checklist with pass/fail
            </p>
            <p>Read-out Meeting</p>
          </div>
          <div class="col-12 text-center pt-2">
            <a class="button" href="#sign-up-form" style="text-decoration: none"
              >Schedule your FREE consult call</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include why-experiment-zone-splash-white.html %} {% include
footer-diagonal-white.html %} {% include form-sign-up-button-in-footer.html
button_url=page.cta-button-href button_text=page.cta-button %}
