---
layout: default
title: "About us - Experiment Zone | Unlock more value | Conversion Rate Optimization"
meta_title: "About us - Experiment Zone | Unlock more value | Conversion Rate Optimization"
heroHeading: "Elevate your online business revenue with a website that converts effectively."
heroSubSubHeading: "Investing in digital marketing avenues like paid ads, social media, or SEO?<br><br>Maximize your company's digital marketing ROI by optimizing conversion rates. We focus on the post-click journey, ensuring all digital efforts yield higher returns.<br><br>Harness the power of our data-driven approach to uncover valuable opportunities, connect with a broader audience, and propel your business growth.
"
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 675
heroDiagonal: true
heroDiagonalFill: "#fff"
date:
description: "Let us be your Conversion Strategy & Testing team so that you can increase your online revenue."
icon: "assets/images/icons8-rocket-96.png"
core: true
featured: false
weight: 3
service-list: false
service-sign-up: true
summary-content: "Using a consistent testing framework provides key insights to make improvements to UX - and increase revenue. We prioritize iterative testing so that we can learn quickly and deeply."
free-consult: true
header_classes: header-transparent
cta-button: Contact Us
cta-button-href: "/contact/"
---

{% include hero-image.html background=null fullscreen=page.heroFullscreen
  height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
  subsubheading=page.heroSubSubHeading cta-button=page.cta-button
  cta-button-href=page.cta-button-href overlay=page.heroBackgroundOverlay
  diagonal=page.heroDiagonal diagonalfill=page.heroDiagonalFill %}

<!--Who We Help-->
<div class="strip pb-5 pt-5 pt-lg-0">
  <div class="container">
    <div class="row justify-content-between mt-3">
      <div class="col-12 col-lg-6 align-self-center">
        <div class="content">
          <h2 class="text-secondary">Who we help</h2>
          <p>
            At our core, we partner with businesses driving their growth through strategic digital marketing. Our specialized knowledge in conversion rate optimization allows us to seamlessly navigate various industries. Our client base spans:
          </p>
          <ul>
            <li>Retail and eCommerce</li>
            <li>Information Technology</li>
            <li>Hospitality and Tourism</li>
            <li>Banking and Finance</li>
            <li>Education</li>
            <li>Automotive</li>
            <li>Food and Beverage</li>
            <li>Healthcare</li>
            <li>Real Estate</li>
            <li>Construction</li>
            <li>Telecommunications</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6 ">
        <div class="content">
          <h2 class="text-secondary">We collaborate with companies at two critical stages:</h2>
          <p>
            At our core, we partner with businesses driving their growth through strategic digital marketing. Our specialized knowledge in conversion rate optimization allows us to seamlessly navigate various industries. Our client base spans:
          </p>
          <p><span class="text-primary font-weight-bold">Established Companies:</span> Streamlining conversion rates through meticulous A/B testing and user research.</p>
          <p><span class="text-primary font-weight-bold">Growth Companies:</span> Facilitating early customer conversion to drive sustained growth.</p>
        </div>
      </div>
    </div>
<!--Testimonial #1-->
    <div class="row justify-content-between mt-3">
      <div class="col-12 pt-2">
        <h3 class="text-secondary">I can honestly say that their rigorous approach always turns up opportunities that can drive conversion.</h3>
        <a href="https://clutch.co/profile/experiment-zone#review-1910401" target="_blank" class="text-primary">Read More</a>
      </div>
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 testimonial-name">
        <div class="content">
          <p style="font-size: 1.2rem; margin-bottom: 0;">Sean Knotts, Director</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 align-right testimonial-company" style="display: flex; justify-content: end;">
        <p style="font-size: 1.2rem; margin-bottom: 0;">Sound Experience Company</p>
      </div>
    </div>
  </div>
</div>

<!--Services-->
<div class="strip strip-grey pt-5 pb-5">
  <div class="container pb-4">
    <div class="row">
      <div class="col-12">
        <h2 class="text-secondary">Our Services</h2>
        <h3>Unlock the potential of your digital presence with our expertise in Conversion Rate Optimization (CRO), User Research (UXR), and Analytics.</h3>
        <h3>Our seasoned team specializes in analyzing your unique requirements, and the first consultation is on us.</h3>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h2 class="text-secondary">How we drive results</h2>
        <p class="large"><span class="text-primary font-weight-bold">Free Consultation:</span> Your journey starts with a complimentary consultation where we understand your needs.</p>
        <p class="large"><span class="text-primary font-weight-bold">Strategic Analysis:</span> Our team meticulously examines your digital landscape to design tailored solutions.</p>
        <p class="large"><span class="text-primary font-weight-bold">Iterative A/B Testing:</span> We boost conversion rates through a consistent testing framework, prioritizing iterative A/B testing. This method provides profound insights and allows us to enhance user experience, leading to substantial revenue growth.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% for service in site.services %}
      {%if service.core == true%}
      <div class="col-12 col-md-6 mb-3">
        <div class="service service-summary">
          {% if service.icon %}
          <div class="service-image">
            <img src="{{service.icon | relative_url}}" />
          </div>
          {% endif %}
          <div class="service-title">
            <h2>
              <a href="{{ service.url | relative_url}}">{{ service.title }}</a>
            </h2>
          </div>
          <div class="service-description">
            <p>{{ service.description }}</p>
          </div>
          <div class="service-content">{% if service.summary-content %}<p>{{service.summary-content}}</p>{%else%}{{ service.content | truncate: 180 }}{%endif%}</div>
          <div class="service-link">
            <a class="service-read-more" href="{{ service.url | relative_url}}"
              >Read More<i class="fas fa-long-arrow-alt-right ml-1"></i
            ></a>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="col-12 text-center pt-2">
    <a class="button" href="/services" style="text-decoration: none"
      >View All Services</a
    >
  </div>
</div>

<!-- Testimonial #2-->
<div class="strip pb-5 pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 pt-2">
        <h3 class="text-secondary">The communication and execution was very smooth where it felt like they were an extension of our own team... The amount of detail, attention and care correlated with their top notch communication and workflow.</h3>
        <a href="https://clutch.co/profile/experiment-zone#review-1958938" target="_blank" class="text-primary">Read More</a>
      </div>
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 testimonial-name">
        <div class="content">
          <p style="font-size: 1.2rem; margin-bottom: 0;">Director of Project Management</p>
        </div>
      </div>
      <div class="col-12 col-lg-6 testimonial-company" style="display: flex; justify-content: end;">
        <p style="font-size: 1.2rem; margin-bottom: 0;">B2B E-Commerce Platform</p>
      </div>
    </div>

  </div>
</div>

<!--Client Success Stories-->
{% include client-logos.html %}

<!--Tools We Use-->
{% include apps-tools-used.html %}

<!--Team Members-->
<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-secondary">Fueling Your Success with Our Diverse Team</h2>
        <h3>At Experiment Zone, we're all about working together to create winning roadmaps and websites that convert.</h3>
        <h3>Meet the awesome folks who make it happen:</h3>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p class="large "><span class="text-primary font-weight-bold">Conversion Strategist:</span> The mastermind behind success. Our Conversion Strategists create roadmaps that lead to more conversions and growth.</p>
        <p class="large"><span class="text-primary font-weight-bold">Project Manager:</span> The one who keeps things on track. Our Project Managers make sure everything runs smoothly, turning your plans into reality.</p>
        <p class="large"><span class="text-primary font-weight-bold">Developer:</span> The tech wizard. Our Developers bring strategies to life, turning them into websites that really connect with your audience.</p>
        <p class="large"><span class="text-primary font-weight-bold">Analyst:</span> The numbers guru. Our Analysts dive deep into data, tweaking things to make sure your website is driving more conversions.</p>
        <p class="large"><span class="text-primary font-weight-bold">Designers:</span> The creative minds. Our Designers make your website look amazing, turning visitors into fans.</p>
        <p class="large"><span class="text-primary font-weight-bold">Copywriters:</span> The wordsmiths. Our Copywriters craft compelling stories that speak to your audience, turning clicks into conversions.</p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h3 class="text-secondary">Together, this fantastic team comes together to turn your website into a conversion powerhouse that gets real results.</h3>
      </div>
    </div>
  </div>
</div>

<!-- Testimonial #3-->
<div class="strip pb-5 pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 pt-2">
        <h3 class="text-secondary">Collaborating with Experiment Zone on this project has been such a great experience. With the increase we’ve seen in conversion rates, we’ve been able to more effectively scale our digital marketing efforts which has led to a significant increase in revenue for the business.</h3>
        <a href="https://experimentzone.com/work/kinona/" class="text-primary">Read More</a>
      </div>
    </div>
    <hr>
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 testimonial-name">
        <div class="content">
          <p style="font-size: 1.2rem; margin-bottom: 0;"></p>
        </div>
      </div>
      <div class="col-12 col-lg-6 testimonial-company" style="display: flex; justify-content: end;">
        <img src="//kinonasport.com/cdn/shop/files/Kinona-Logo4.png?v=1703020120&amp;width=280" alt="" srcset="//kinonasport.com/cdn/shop/files/Kinona-Logo4.png?v=1703020120&amp;width=140 140w, //kinonasport.com/cdn/shop/files/Kinona-Logo4.png?v=1703020120&amp;width=280 280w" width="140" height="37.8" loading="eager" class="small--hide image-element" sizes="140px" itemprop="logo" style="max-height: 37.8px;max-width: 140px;">
      </div>
    </div>

  </div>
</div>

<!--Our History-->
<div class="strip strip-white pt-3 pb-6 splash splash-one">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 align-self-center mb-2">
        <img
          class="img-fluid rounded"
          src="../assets/images/AJDavis-Headshot.jpg"
        />
      </div>
      <div
        class="
          col-12
          {%
          if
          site.params.homepage.splash_one_image
          %}col-md-5{%
          else
          %}col-md-12{%
          endif
          %}
          offset-md-1
        "
      >
        <h2><a href="/team/aj-davis/">AJ Davis – Founder and CEO</a></h2>
        <p>
          AJ is an industry expert in user experience strategy with a proven
          track record for delivering true value to businesses.
        </p>
        <p>
          She’s led optimization strategy for Fortune 500 companies during her
          tenure at Clearhead, including CVS, Steve Madden, and lululemon. She
          also created the user research practice and team at Clearhead.
        </p>
        <p>
          Prior to Clearhead, AJ was the lead UX researcher on the Google
          Optimize product. She was on the team from ideation at a sprint week
          to product launch.
        </p>
        <p>
          AJ is a Wellesley College alumnae and has a masters in Human Factors
          in Information Design from Bentley University.
        </p>
        <div>
          <div class="col-12 pt-1 text-center">
            <a class="button" href="/team/aj-davis/"> CONNECT WITH AJ </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Culture and Values-->
<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-secondary">Culture Driven by Values</h2>
        <h3>At Experiment Zone, our company culture is shaped by a set of core values that define who we are and how we approach our work.</h3>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <p class="large ">
          <span class="text-primary font-weight-bold">Transparency & Communication Is Key:</span> Prioritize open communication and transparency. Focus on explaining the "why" behind our actions to enhance client satisfaction and engagement.
        </p>
        <p class="large">
          <span class="text-primary font-weight-bold">Focus On The Why, Not The What:</span> Move beyond the "what" to uncover the "why" in our recommendations. Foster client understanding and involvement in decision-making processes.
        </p>
        <p class="large">
          <span class="text-primary font-weight-bold">Tell The Story:</span> Transform data into engaging narratives that captivate and inspire our clients.
        </p>
        <p class="large">
          <span class="text-primary font-weight-bold">Good Ideas Can Come From Anyone:</span> Embrace a democratic approach to idea generation. Collect and evaluate ideas from diverse sources within client organizations.
        </p>
        <p class="large">
          <span class="text-primary font-weight-bold">Transparency, Trust:</span> Build trust through transparency. Keep clients informed about processes, timelines, and rationale to foster confidence and lasting partnerships.
        </p>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <h3 class="text-secondary">At Experiment Zone, our values transcend mere statements; they actively drive every interaction, decision, and success we achieve.</h3>
        <h3 class="text-secondary">Join us in a culture where collaboration, innovation, and integrity thrive.</h3>
      </div>
    </div>
  </div>
</div>

{% include why-experiment-zone-splash-white.html %}

{% include contact-form-splash.html heading=site.params.contact_cta.heading
  subheading=site.params.contact_cta.subheading
  button_url=site.params.contact_cta.button_url
  button_text=site.params.contact_cta.button_text %}