---
layout: default
title: Contact Us
body_classes: page-contact
---

<div id="contact-us" class="intro intro-big pb-5">
  <div class="container">
    <div class="row justify-content-center new-contact-us">
      <div class="col-6 contactContext">
        <h1>Get in Touch</h1>
        <h2 style="color:#663db1;">Talk with a CRO specialist about your website goals</h2>
        <p class="contact-text" style="font-size: 1rem;">Fill out the form with your contact information and any details you'd like to provide about your current challenges</p>
        <p class="contact-text" style="font-size: 1rem;">We'll get in touch to set up time to connect!</p><span></span>
      </div>
      <div class="contact-form col-6 col-md-5 offset-md-1">
        {% include contact-us-form.html %}
      </div>
    </div>
  </div>
</div>

<div class="strip pt-5 pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Stay connected</h1>
        <p class="connected-Subheader" style="color:#663db1;">Join our community to stay up to date on the latest CRO tips & tricks and Experiment Zone company news</p>
      </div>
    </div>
    <div class="row justify-content-center align-content-center">
      <div class=" col-sm-4 pb-7 social-item envelope">
        <a href="#blog-sign-up"><i class="contact-icon far fa-envelope" onclick="show(this)"></i></a>
        <p class="icon-text">Subscribe to our Newsletter</p>
      </div>

      <div class="col-sm-4 pb-7 social-item">
        <a href="https://www.linkedin.com/company/experimentzone"><i class="contact-icon fab fa-linkedin-in"></i></a>
        <p class="icon-text">Connect on LinkedIn</p>
      </div>
      <div class="col-sm-4 pb-7 social-item">
        <a href="https://www.instagram.com/experimentzone/"><i class="contact-icon fab fa-instagram"></i></a>
        <p class="icon-text">Follow us on Instagram</p>
      </div>
    </div>
  </div>
</div>

<a id="blog-sign-up"></a>
<div class="strip-grey pt-5 pb-5" style="display: none;">
  <div class="container justify-content-center">
    <div class="col-12">
      <h2 class="mb-2 text-center">
        Get our tips and tricks for Experience Optimization sent to your inbox!
      </h2>
      <div class="row justify-content-center">
        <div class="col-12 col-md-8"></div>
      </div>
      {% include form-blog-sign-up.html %}
    </div>
  </div>
</div>

<script>
  const show = (x) => {
    x = document.querySelector("#blog-sign-up + div.strip-grey");
    x.style.display = "block";
  }
</script>