---
layout: default
body_classes: page-posts-list
heroHeading: "Boost Donations & Volunteer Signups for Your Political Campaign"
heroSubHeading: "See how Experiment Zone can transform your political fundraising and connect you with your constituents"
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 700
heroDiagonal: true
heroDiagonalFill: "#fff"
title: "Increasing Political Campaign Participation through Experiments"
date: 2018-11-22T15:15:26+10:00
description: "Transform your business by getting more website leads with A/B Testing. Understand your potential customer, and customize your marketing experience for their unique needs. See what you can learn from A/B Testing."
icon: "assets/images/icons8-school-96.png"
featured: true
summary-content: "Transform your business by getting more website leads with A/B Testing. Understand your potential customer, and customize your marketing experience for their unique needs. See what you can learn from A/B Testing."
custom_css:
header_classes: header-transparent
cta-button: Chat with a political fundraising specialist
cta-button-href: "#sign-up-form"
---

{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
cta-button=page.cta-button cta-button-href=page.cta-button-href
overlay=page.heroBackgroundOverlay diagonal=page.heroDiagonal
diagonalfill=page.heroDiagonalFill %}

<!-- Intro Section Desktop --------------------------------------------------------------------------------------->
<div class="strip d-none d-lg-block">
  <div class="container pt-4 pt-lg-10 pb-4 pb-lg-10 d-flex">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-7">
        <div>
          <div class="content">
            <h2 class="text-secondary">
              The way political campaigns inspire constitutions to get involved
              and vote has dramatically changed
            </h2>
            <p>
              Your political campaign has a digital program. You've got a
              website with a donation button, and volunteers regularly get
              reminders via email. It seems to be working… but what if your
              results could be even better?
            </p>
            <p>
              First, you need to understand your volunteers and donors. Then you
              need to customize your website experience for their unique needs.
              What's the best way to start doing this? A/B Testing, which lets
              you compare two different approaches to find the most effective
              ways to find continuous improvement.
            </p>
          </div>
          <!-- Form section Desktop -->
          <div class="sign-up-form-desktop col-12 m-auto pt-8">
            <h2 class="text-secondary text-center mb-2">
              Chat with a political fundraising specialist
            </h2>
            {% include contact-us-form.html %}
          </div>
        </div>
      </div>
      <!-- Benefits section Desktop -->
      <div class="col-4 mt-n6">
        <h2 class="text-center text-primary mb-2">
          Benefits of Experimenting for Political Campaigns
        </h2>
        <div
          class="card work work-summary p-3 mb-2"
          style="border-radius: 35px; height: auto"
        >
          <div class="">
            <div class="col-4 p-0 m-auto text-center">
              <img
                class="m-auto"
                alt="Conversion Rate Optimization (CRO) Reach Benefits"
                src="/assets/images/icons8-rocket-96.png"
              />
            </div>
            <div class="col-12">
              <h4 class="m-0 text-center">Reach</h4>
              <p class="m-0">
                Improve the size and quality of your volunteer and donor
                databases by engaging your best visitors.
              </p>
            </div>
          </div>
        </div>
        <div
          class="card work work-summary p-3 mb-2"
          style="border-radius: 35px; height: auto"
        >
          <div class="">
            <div class="col-4 p-0 m-auto text-center">
              <img
                class="m-auto"
                alt="Conversion Rate Optimization (CRO) Engage Benefits"
                src="/assets/images/icons8-mouse-96.png"
              />
            </div>
            <div class="col-12">
              <h4 class="m-0 text-center">Engage</h4>
              <p class="m-0">
                Create compelling digital experiences by understanding your
                customers' online behavior.
              </p>
            </div>
          </div>
        </div>
        <div
          class="card work work-summary p-3 mb-2"
          style="border-radius: 35px; height: auto"
        >
          <div class="">
            <div class="col-4 p-0 m-auto text-center">
              <img
                class="m-auto"
                alt="Conversion Rate Optimization (CRO) Inspire Benefits"
                src="/assets/images/icons8-brain-96.png"
              />
            </div>
            <div class="col-12">
              <h4 class="m-0 text-center">Inspire</h4>
              <p class="m-0">
                Make it easy and fun to sign up to volunteer or to donate, again
                and again, to boost retention and strengthen relationships.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Intro Section Mobile --------------------------------------------------------------------------------------->
<div class="strip d-lg-none">
  <div class="container pt-4 pt-lg-10 pb-4 pb-lg-10">
    <div class="row justify-content-start">
      <div class="col-12 col-lg-8">
        <div>
          <div class="content">
            <h2 class="text-secondary">
              The way political campaigns inspire constitutions to get involved
              and vote has dramatically changed
            </h2>
            <p>
              Your political campaign has a digital program. You've got a
              website with a donation button, and volunteers regularly get
              reminders via email. It seems to be working… but what if your
              results could be even better?
            </p>
            <p>
              First, you need to understand your volunteers and donors. Then you
              need to customize your website experience for their unique needs.
              What's the best way to start doing this? A/B Testing, which lets
              you compare two different approaches to find the most effective
              ways to find continuous improvement.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Benefits section Mobile  ----------------------------------------------------------------------------------->
<div class="strip strip-secondary pt-4 pb-4 d-lg-none">
  <div class="container">
    <div class="content">
      <h2 class="text-white">
        Benefits of Experimenting for Political Campaigns
      </h2>
      <div class="card work work-summary p-1 mb-2" style="border-radius: 35px">
        <div class="d-flex justify-content-between">
          <div class="col-3 p-0 d-flex">
            <img
              class="m-auto"
              alt="Conversion Rate Optimization (CRO) Reach Benefits"
              src="/assets/images/icons8-rocket-96.png"
            />
          </div>
          <div class="col-9 pl-1 p-0">
            <h4 class="m-0">Reach</h4>
            <p class="m-0">
              Improve the size and quality of your volunteer and donor databases
              by engaging your best visitors.
            </p>
          </div>
        </div>
      </div>
      <div class="card work work-summary p-1 mb-2" style="border-radius: 35px">
        <div class="d-flex justify-content-between">
          <div class="col-3 p-0 d-flex">
            <img
              class="m-auto"
              alt="Conversion Rate Optimization (CRO) Engage Benefits"
              src="/assets/images/icons8-mouse-96.png"
            />
          </div>
          <div class="col-9 pl-1 p-0">
            <h4 class="m-0">Engage</h4>
            <p class="m-0">
              Create compelling digital experiences by understanding your
              customers' online behavior.
            </p>
          </div>
        </div>
      </div>
      <div class="card work work-summary p-1 mb-0" style="border-radius: 35px">
        <div class="d-flex justify-content-between">
          <div class="col-3 p-0 d-flex">
            <img
              class="m-auto"
              alt="Conversion Rate Optimization (CRO) Inspire Benefits"
              src="/assets/images/icons8-brain-96.png"
            />
          </div>
          <div class="col-9 pl-1 p-0">
            <h4 class="m-0">Inspire</h4>
            <p class="m-0">
              Make it easy and fun to sign up to volunteer or to donate, again
              and again, to boost retention and strengthen relationships.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Form Section Mobile ---------------------------------------------------------------------------------------->
<div class="sign-up-form-mobile strip strip-grey pt-4 pb-4 d-lg-none">
  <h2 class="text-secondary text-center">
    Chat with a political fundraising specialist
  </h2>
  <div class="container">
    <div class="content">
      <div class="col-12">{% include contact-us-form.html %}</div>
    </div>
  </div>
</div>

<!-- Why Section  ---------------------------------------------------------------------------------------->
<div class="strip strip-grey pb-4 pb-lg-10 pt-lg-10">
  <div class="container pb-4 d-flex justify-content-center">
    <div class="col-12 col-lg-8 p-0">
      <h2 class="text-secondary">
        The Experimentation Methodology for Political Campaigns
      </h2>
      <p>
        Before starting an experiment, make sure you understand why you're doing
        it. You can use the GPS Framework: Goals, Problems, and Solutions.
      </p>
      <div class="item">
        <h4 class="text-primary">Goals</h4>
        <p>
          You'll need to first identify the goals for your political campaign.
          Are you trying to increase donations? Are you focused on getting more
          volunteers to sign up? Do you want more constituents to sign up for
          your newsletter?
        </p>
      </div>
      <div class="item">
        <h4 class="text-primary">Problems</h4>
        <p>
          Once you understand your goals, you need to understand what the
          problems are. What's keeping donors from making donations? Why is it
          difficult to sign up to volunteer with your campaign? Identify which
          problems are the most important to address today.
        </p>
      </div>
      <div class="item">
        <h4 class="text-primary">Solutions</h4>
        <p>
          Now come up with ideas for how to solve these problems! Consider
          writing them as hypotheses: “We believe that if we do [the solution],
          we will impact [the problem]. We can tell if this works if
          [measurement] happens.”
        </p>
      </div>
      <div class="item">
        <p class="m-0">
          Now keep doing this! You'll work through several solutions, then
          several problems, and ultimately you'll help your political campaign
          meet its goals.
        </p>
      </div>
    </div>
  </div>
  <!-- CTA section  ----------------------------------------------------------------------------------------->
  <div class="col-12 text-center">
    <a class="button" href="#sign-up-form" style="text-decoration: none"
      >Chat with a political fundraising specialist</a
    >
  </div>
</div>

<!-- Custom JS ------------------------------------------------------------------------------------------->
<script>
  const idAdd = () => {
    if (window.screen.width < 992) {
      document.querySelector(".sign-up-form-desktop").removeAttribute("id");
      document
        .querySelector(".sign-up-form-mobile")
        .setAttribute("id", "sign-up-form");
    } else {
      document.querySelector(".sign-up-form-mobile").removeAttribute("id");
      document
        .querySelector(".sign-up-form-desktop")
        .setAttribute("id", "sign-up-form");
    }
  };
  idAdd();

  window.addEventListener("resize", () => {
    idAdd();
  });
</script>

{% include services-splash.html %} {% include why-experiment-zone-splash.html %}
{% include footer-diagonal.html %} {% include contact-form-splash.html
heading=site.params.contact_cta.heading
subheading=site.params.contact_cta.subheading
button_url=site.params.contact_cta.button_url
button_text=site.params.contact_cta.button_text %}
