---
layout: default
title: "Customer Journey Mapping"
meta_title: Customer Journey Mapping | Take a research-backed approach to uncover and map the current customer journey | Experiment Zone
heroHeading: "Customer Journey Mapping"
heroSubHeading: "We will take a research-backed approach to uncover and map the current customer journey."
heroSubSubHeading: "Identify opportunities to improve conversion and the overall experience on your website through mapping your customer journey."
heroBackground: ""
heroBackgroundOverlay: false
heroHeight: 620
heroDiagonal: true
heroDiagonalFill: "#fff"
date: 2018-11-04T15:15:26+10:00
description: "Identify the top changes that will improve conversion on your website."
icon: "assets/images/icons8-mouse-96.png"
core: true
featured: false
weight: 3
service-list: false
service-sign-up: true
summary-content: "We'll manage the end-to-end of the Customer Journey Mapping research. Our approach includes three research analyses, a kickoff meeting, and a readout meeting."
free-consult: true
header_classes: header-transparent
cta-button: Schedule your FREE discovery call
cta-button-href: "#sign-up-form"

---

<style>
  .hero-image .hero-text h1 {
    width: 100%;
  }
  .hero-image .hero-text p {
    width: 100%;
  }
</style>

{% include hero-image.html background=null fullscreen=page.heroFullscreen
height=page.heroHeight heading=page.heroHeading subheading=page.heroSubHeading
subsubheading=page.heroSubSubHeading cta-button=page.cta-button
cta-button-href=page.cta-button-href overlay=page.heroBackgroundOverlay
diagonal=page.heroDiagonal diagonalfill=page.heroDiagonalFill %}

<div class="strip pb-5 pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-12 col-lg-6 align-self-center">
        <div class="content">
          <h2 class="text-secondary">
            How we'll improve your customer experience
          </h2>
          <p>
            How we'll map the customer journey. We will take a research-backed approach to uncover and map the current customer journey.           </p>
          <p>
            We will employ three research methods for the site experience audit:
          </p>
          <ul>
            <li>Customer Interviews</li>
            <li>Customer Survey</li>
            <li>Analytics Deep Dive</li>
          </ul>
        </div>
      </div>
      <div id="sign-up-form" class="col-12 col-lg-6 pt-3 pt-lg-0">
        <h2 class="text-secondary text-center mb-2">
          Schedule your FREE discovery call
        </h2>
        {% include contact-us-form.html %}
      </div>
    </div>
  </div>
</div>
<div class="strip strip-grey pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">
          <h2 class="text-secondary">Our Simple and Seamless Process</h2>
          <p>
           We'll manage the end-to-end of the Customer Journey Mapping research. Our approach incudes three research analyses, a kickoff meeting, and a readout meeting.
          </p>
          <div class="item">
            <h4 class="text-primary">Pre-Work | Kickoff</h4>
            <p>
              We will review key pages across the browsing and purchasing funnel
              against a UX checklist.
            </p>
            <p>We'll begin with a 1-hour kickoff. We'll meet your team and discuss what you know about your customer, what assumptions and questions you have about your customer, and review the research plan for the following research strategies.</p>
          </div>
          <div class="item">
            <h4 class="text-primary">Strategy 1 | Customer Interviews</h4>
            <p>We'll conduct interviews with customers and prospects to uncover their needs, wants, and pain points. We'll facilitate in-depth discussions about their current  experiences and how they have become customers. </p>
            <p>
              We'll get a deeper understanding of your target customers and their journey to becoming customers.
            </p>
            <p>
          Timeline: 3-4 weeks
            </p>
          </div>
          <div class="item">
            <h4 class="text-primary">Strategy 2 | Customer Survey</h4>
            <p>We'll also conduct a survey of existing customers so we can quantify how frequent the needs, wants, and pain points were that we uncovered in the first strategy. We'll also use the survey to validate the information we learned in the qualitative interviews.  </p>
            <p>
         Timeline: 2-6 weeks (largely dependent on survey response time)
            </p>
          </div>
          <div class="items">
            <h4 class="text-primary">Strategy 2 | Analytics Deep Dive</h4>
            <p>We will conduct an analytics deep dive, so we can match the current behaviors on the site with the opportunities/gaps in the customer journey. We'll analyze different customer segments - such as new/returning, their channel (such as ads, email, organic), among other ways of dividing up the data to understand the customer journey.  </p>
            <p>
        Timeline: 1-2 weeks
            </p>
          </div>
          <div class="items">
            <h4 class="text-primary">Deliverables</h4>
            <ul>
              <li>Kickoff Call - 1 Hour</li>
              <li>Biweekly Status Call - 15 min x up to 6 calls as needed</li>
              <li>Read out call - 2 hours</li>
              <li>Executive Report, which will include:
                <p class="font-italic"> &emsp;Executive Summary (3-4 slides highlighting the key takeaways)
                <br/> &emsp;Customer Journey maps (1-3 depending on what we learn in the interviews/surveys)
                <br/> &emsp;Analytics Analysis with key opportunities and take aways
                <br/> &emsp;Customer interview & survey highlights</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12 text-center pt-2">
          <a class="button" href="#sign-up-form" style="text-decoration: none"
            >Schedule your FREE consult call</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include why-experiment-zone-splash-white.html %} {% include
footer-diagonal-white.html %} {% include form-sign-up-button-in-footer.html
button_url=page.cta-button-href button_text=page.cta-button %}